<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726334152925-nk5dfpp409u5951us0ing3nk1n9i2qie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726334152925-nk5dfpp409u5951us0ing3nk1n9i2qie</string>
	<key>API_KEY</key>
	<string>AIzaSyCoO1MoMx5tLLxq0nwdsXwTT-3dq5zpois</string>
	<key>GCM_SENDER_ID</key>
	<string>726334152925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spatulea.skelly</string>
	<key>PROJECT_ID</key>
	<string>skelly-824dc</string>
	<key>STORAGE_BUCKET</key>
	<string>skelly-824dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726334152925:ios:6ac0744c3e63490b817b34</string>
</dict>
</plist>